body {
    background-color: rgb(28, 28, 28);
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes boton {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        background-color: purple;
    }
}

@keyframes boton {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
}

.boton {
    animation: slideIn 3s ease-in forwards;
    animation: bote 2s ease-in-out;
}